*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    background-color: rgb(65, 65, 65);
}

.forma{
    max-width: 320px;
    margin: 0 auto;
    margin-top: 200px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 320px;
    padding: 18px 12px;
    border-radius: 8px;
    border-color: black;
}

input:hover{
    box-shadow: 0 8px 35px 0 #000000c5 ;
}

button{
    padding: 16px 0;
    font-size: 16px;
    background-color: gray;
    border-radius: 8px;
    border-color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
}

select{
    padding: 18px 12px;
    border-color: black;
    border-radius: 8px;
}

select:hover{
    box-shadow: 0 8px 35px 0 #000000c5 ;
}

